@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Custom fonts*/
@font-face {
	font-family: "Title_Font";
	src: url("./assets/fonts/MADEMIRAGE/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf");
}
@font-face {
	font-family: "Secondary_Font";
	src: url("./assets/fonts/HelveticaNeue.ttc");
}
@font-face {
	font-family: "Ronda";
	src: url("./assets/fonts/ITC\ Ronda.otf");
}
@font-face {
	font-family: "Kilimanjaro";
	src: url("./assets/fonts/KilimanjaroSansRound1.ttf");
	font-display: swap;
}

@theme {
	--font-title: "Title_Font", sans-serif;
	--font-secondary: "Secondary_Font", sans-serif;
	--font-default: Arial, Helvetica, sans-serif;

	/* not currently in use */
	--font-ronda: "Ronda", sans-serif;
	--font-kilimanjaro: "Kilimanjaro", sans-serif;

	--color-arcade-black: #191617;
	--color-arcade-violet: #5647f1;
	--color-arcade-blue: #37b0ea;
	--color-arcade-white: #ece4d5;
	--color-arcade-purple: #8122c0;
}

/* Global styles */
body {
	font-family: var(--font-default);
	background-color: var(--color-arcade-black);
	color: white;
}
